[mysqld]
default_authentication_plugin = mysql_native_password
key_buffer_size = 384M
max_allowed_packet = 16M
table_open_cache = 512
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
# Try number of CPU's*2 for thread_concurrency
slow_query_log_file = /run/mysqld/slow_queries.log
lower_case_table_names = 2

# charsets
init_connect='SET collation_connection = utf8_unicode_ci'
init_connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8_unicode_ci

skip-external-locking
slow_query_log

# Replication Master Server (default)
# binary logging is required for replication
#log-bin=mysql-bin
expire_logs_days = 1

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id	= 1
innodb_buffer_pool_size = 384M
innodb_file_per_table=1

[mysqldump]
quick
max_allowed_packet = 16M
